.card {
    background-color: #fefefe;
    border: 5px solid #000000;
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
    display: inline-block;
    transition: 0.3s ease-in-out;
}

.card:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #ececec;
    transition: 0.3s ease-in-out;
}